
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.startpage {
    height: 100vh;
    background-color: #2a2e48;
    background-image: url(../img/startfone.png);
    background-size: contain;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    position: sticky;
    top: 0;
}
.nav {
    display: flex;
}
.nav a {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-left: 60px;
    text-decoration: none;
}
.start_info {
    padding: 155px 0;
    text-align: center;
}
.start_info h1 {
    font-family: 'Open Sans', sans-serif; 
    font-size: 65px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0 150px;
}
.start_info p {
    font-size: 22px;
    color: #fff;
    margin: 40px 0 75px;
}
.start_info button {
    width: 200px;
    height: 45px;
    background: #e84545;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.features {
    padding: 115px 0;
}
.feature_info {
    margin: 0 40px;
    width: 33%;
    text-align: center;
}



